* {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
a {
	color: grey;
}


.button {
	background-color: purple;
	border: none;
	color: white;
	font-size: 20px;
	padding-top: 10px;
	width: 100%;
	text-align: left;
	margin: 5px;
}

.button2 {
	background-color: white;
	border: none;
	color: grey;
	font-size: 20px;
	padding-top: 10px;
	width: 20%;
	float: left;
	margin: 5px;
}

button.logo {
	font-size: 40px;
	font-weight: bold;

	
}


.box {
	float: left;
	width: 80px;
	height: 60px;
	margin: 10px;
	border: 2px solid rgba(0,0,0, 0.2);
}

img {
	padding: 20px;
	width: 150px;
	float: left;
}

.imgEffectMult {
	margin-top: 50px;
	padding: 20px;
	width: 20%;
	float: left;
}

.imgEffect {
	margin-top: 50px;
	padding: 20px;
	width: 400px;
	float: left;
}

table {
	width: 75vh;
}
